<div class="user-show">
  <div class="profile-header">
    <div class="avatar">
      <%= image_tag @user.avatar, class: 'avatar' %>
    </div>
    <div class="user-info">
      <h1>Jose Luis Rico Ramos</h1>
      <p> Software Eng.. | ... </p>
    </div>
  </div>

  <div class="summary">
    <p> Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text </p>
  </div>

  <div class="sections">
    <div class="section">
      <h2>Proyectos</h2>
      <div class="projects">

      </div>
    </div>

    <div class="section">
      <h2>Estudios</h2>
      <div class="studies">

      </div>
    </div>

    <div class="section">
      <h2>Certificados y Títulos</h2>
      <div class="certificates">

      </div>
    </div>
  </div>
</div>
