<!-- app/views/users/show.html.erb -->
<div class="user-profile">
  <div class="avatar-container">
    <% if @user.avatar.attached? %>
      <%= image_tag @user.avatar, class: "avatar" %>
    <% else %>
      <p>No avatar available</p>
    <% end %>
  </div>

  <div class="user-details">
    <p><strong>Email:</strong> <%= @user.email %></p>
  </div>

  <div class="actions">
    <%= link_to 'Edit', edit_user_path(@user), class: "btn btn-primary" %>
    <%= link_to 'Back', users_path, class: "btn btn-secondary" %>
  </div>
</div>