/* Estilos generales */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
}

.container {
  display: flex;
  min-height: 100vh;
}

/* Estilos para la barra de encabezado */
.header-bar {
  display: flex;
  justify-content: flex-end; /* Distribuir espacio entre los elementos */
  align-items: center; /* Alinear verticalmente los elementos */
  background-color: #333;
  color: white;
  padding: 10px 20px;
  position: sticky;
  top: 0;
  width: 100%; /* Ocupar todo el ancho */
  z-index: 1000;
}

.header-actions, .auth-buttons {
  display: flex;
  gap: 15px;
}

.header-actions p, .auth-buttons button {
  margin: 0;
}

.logout-button, .auth-button {
  background-color: #555;
  color: white;
  border: none;
  padding: 8px 12px;
  cursor: pointer;
}

.logout-button:hover, .auth-button:hover {
  background-color: #777;
}

/* Estilos para el layout */
.sidebar {
  background-color: #f4f4f4;
  padding: 20px;
  width: 350px;
}

.content {
  flex-grow: 1; /* Ocupar el espacio restante */
  padding: 20px;
}

.hidden {
  display: none;
}

/* Estilos para los botones */
.menu {
  list-style-type: none;
  padding: 0;
}

.menu li {
  margin-bottom: 10px;
}

.menu button {
  background-color: #333;
  color: white;
  border: none;
  padding: 10px;
  width: 100%;
  cursor: pointer;
}

.menu button:hover {
  background-color: #555;
}

/* Estilos para el formulario de contacto */
.contact-form {
  max-width: 500px;
  margin-top: 20px;
}

.form-group {
  margin-bottom: 15px;
}

.form-group label {
  display: block;
  margin-bottom: 5px;
}

.form-group input,
.form-group textarea {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.btn {
  background-color: #333;
  color: white;
  padding: 10px 15px;
  border: none;
  cursor: pointer;
  border-radius: 4px;
}

.btn:hover {
  background-color: #555;
}

.sidebar p {
  margin-top: 10px; 
  margin-bottom: 40px; 
}

.header-bar p {
  margin-top: 8px; 
}

.menu button.active {
  background-color: white !important;
  color: black !important;
  border: 3px solid #333 !important;
}

#APIBtn {
  margin-top: 200px; 
}
