<h1>Welcome <%= @user.email %> to Send Email in Rails 7 App! </h1>
<p>
  You have successfully signed up to my portfolio app!
  Your username is: <%= @user.email %>.<br>
</p>
<p>Thanks for Signing up and have a great day!</p>