/* Estilos generales */
body {
  font-family: 'Baskervville SC', serif;
  background-image: url('https://i.pinimg.com/736x/ff/19/9b/ff199b36d5e92c88a47ee2842d9dc0d5.jpg');
  background-size: auto;
  margin: 20px auto;
  max-width: 1900px;
  border-radius: 6px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

/* Estilos para el header */
.site-header {
  background-color: white; /* Fondo blanco */
  padding: 10px 20px; /* Reducir el padding para hacerlo más fino */
  border-radius: 8px; /* Bordes redondeados */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Sombra para dar profundidad */
  font-family: 'Baskervville SC', serif; /* Tipo de letra */
  margin-bottom: 20px; /* Añadir margen inferior */
}

.main-nav ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: space-around;
}

.main-nav li {
  margin: 0 10px;
}

.main-nav .nav-button {
  border: 2px solid #ddd;
  padding: 0.65em 1.2em;
  font-size: 1.1em;
  border-radius: 6px;
  cursor: pointer;
  transition: transform 0.3s ease;
  display: inline-block;
  text-decoration: none;
  color: inherit;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  background-image: url('https://i.pinimg.com/736x/ff/19/9b/ff199b36d5e92c88a47ee2842d9dc0d5.jpg');
  margin-bottom: 1rem;
}

.main-nav .nav-button:hover {
  transform: scale(1.04);
}

/* Estilos para el footer */
.site-footer {
  background-color: white; /* Fondo blanco */
  padding: 10px 20px; /* Reducir el padding para hacerlo más fino */
  border-radius: 8px; /* Bordes redondeados */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Sombra para dar profundidad */
  font-family: 'Baskervville SC', serif; /* Tipo de letra */
  margin-top: 20px; /* Añadir margen superior */
  text-align: center; /* Centrar el texto horizontalmente */
}

.footer-content p {
  margin: 0;
  color: black;
  font-size: 1em;
}

.field, body h2 {
  background-color: white;
  border-radius: 6px;
  padding: 10px; /* Espacio interno añadido */
}

.section-title, .section-title-contact{
  background-image: url('https://i.pinimg.com/736x/ff/19/9b/ff199b36d5e92c88a47ee2842d9dc0d5.jpg');
  border-radius: 6px;
  padding: 10px 20px; /* Espacio interno */
}

.user-show {
  background-color: white;
  padding: 20px;
  border-radius: 6px;
}

.profile-header {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
  border-radius: 6px;
}

.avatar {
  width: 300px;
  height: 300px;
  margin-right: 20px;
  border-radius: 50%;
}

.avatar-img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  object-fit: cover;
}

.user-info h1 {
  margin: 0;
  font-size: 4em;
  border-radius: 6px;
  padding: 10px; /* Espacio interno añadido */
}

.user-info p {
  font-size: 2em;
  margin: 5px 0 0;
  border-radius: 6px;
  padding: 10px; /* Espacio interno añadido */
}

.summary {
  background-image: url('https://i.pinimg.com/736x/ff/19/9b/ff199b36d5e92c88a47ee2842d9dc0d5.jpg');
  padding: 15px;
  margin-bottom: 20px;
  border-radius: 6px;
}

.summary-text, .section-title, .section-title-contact {
  color: white;
  border-radius: 6px;
  font-size: 1.3em;
}

.sections {
  display: flex;
  gap: 20px;
  border-radius: 6px;
}

.section {
  background-image: url('https://i.pinimg.com/736x/ff/19/9b/ff199b36d5e92c88a47ee2842d9dc0d5.jpg');
  padding: 15px;
  flex: 1;
  border-radius: 6px;
  padding: 10px; /* Espacio interno añadido */
}

.section h2 {
  margin-top: 0;
  font-size: 20px;
  border-radius: 6px;
  padding: 10px; /* Espacio interno añadido */
}

.project-item, .study-item, .certificate-item {
  background-color: #e48686;
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 6px;
}

.project-item h3, .study-item h3 {
  margin: 0;
  font-size: 18px;
  border-radius: 6px;
  padding: 10px; /* Espacio interno añadido */
}

button, .btn {
  background: none;
  color: black;
  border: 2px solid #ddd;
  padding: 0.5em 1em;
  font-size: 1em;
  border-radius: 6px;
  cursor: pointer;
  transition: transform 0.3s ease;
  display: inline-block;
  text-decoration: none;
  color: inherit;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  background-color: white;
  margin-bottom: 1rem;
}

button:hover, .btn:hover {
  transform: scale(1.04);
}

.auth-buttons {
  display: flex;
  justify-content: flex-end;
  gap: 10px;
  border-radius: 6px;
}

.projects {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1rem;
  border-radius: 6px;
}

.project-card-link {
  text-decoration: none;
  color: inherit;
  border: 1px solid #ddd;
  border-radius: 6px;
  padding: 1rem;
  display: flex;
  align-items: center;
  gap: 1rem;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease;
  background-color: white;
  box-sizing: border-box;
}

.project-card-link:hover {
  transform: scale(1.02);
}

.project-icon .icon {
  width: 50px;
  height: 50px;
  border-radius: 6px;
}

.project-content {
  display: flex;
  flex-direction: column;
  border-radius: 6px;
}

.project-title h3 {
  margin: 0;
  font-size: 1.2rem;
  border-radius: 6px;
  padding: 10px; /* Espacio interno añadido */
}

.header-actions {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 1rem;
  border-radius: 6px;
}

.education-section {
  flex: 1;
  margin: 10px;
  border-radius: 6px;
}

.education-section-title {
  color: black;
  text-align: center;
  width: 100%;
  border-radius: 6px;
  padding: 10px; /* Espacio interno añadido */
}

.educations {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.5rem;
  border-radius: 6px;
}

.education-card {
  display: flex;
  align-items: center;
  gap: 1rem;
  border: 1px solid #ddd;
  border-radius: 6px;
  padding: 1rem;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  background-image: url('https://i.pinimg.com/736x/ff/19/9b/ff199b36d5e92c88a47ee2842d9dc0d5.jpg');
  width: 300px;
  height: 30px;
  text-decoration: none;
  color: inherit;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease;
}

.education-card:hover {
  transform: scale(1.02);
}

.education-icon img {
  width: 50px;
  height: 50px;
  border-radius: 6px;
}

.education-content {
  display: flex;
  flex-direction: column;
  border-radius: 6px;
}

.education-title h3 {
  color: white;
  margin: 0;
  font-size: 1.2rem;
  border-radius: 6px;
  padding: 10px; /* Espacio interno añadido */
}

.education-description {
  margin: 0.5rem 0 0;
  font-size: 0.9rem;
  color: #666;
  border-radius: 6px;
  padding: 10px; /* Espacio interno añadido */
}

.contact-form {
  background-color: #ffffff;
  padding: 20px;
  border-radius: 6px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.contact-form .form-group {
  margin-bottom: 15px;
  border-radius: 6px;
  padding: 10px; /* Espacio interno añadido */
}

.contact-form .form-label {
  font-weight: bold;
  border-radius: 6px;
}

.contact-form .form-control {
  width: 100%;
  padding: 10px;
  border: 1px solid #dddddd;
  border-radius: 6px;
}

.contact-form .btn {
  padding: 10px 20px;
  border-radius: 6px;
}

/* Media Queries para hacer el diseño responsive */
@media (max-width: 600px) {
  .profile-header {
    flex-direction: column;
    align-items: center;
  }

  .avatar {
    width: 150px;
    height: 150px;
    margin-right: 0;
    margin-bottom: 10px;
  }

  .user-info h1 {
    font-size: 2em;
  }

  .user-info p {
    font-size: 1.2em;
  }

  .sections {
    flex-direction: column;
  }

  .project-card-link {
    flex-direction: column;
    align-items: flex-start;
  }

  .project-icon .icon {
    width: 30px;
    height: 30px;
  }

  .project-title h3 {
    font-size: 1em;
  }

  .education-card {
    width: 100%;
    height: auto;
  }
}

@media (max-width: 900px) {
  .projects {
    grid-template-columns: 1fr;
  }

  .user-info h1 {
    font-size: 3em;
  }

  .user-info p {
    font-size: 1.5em;
  }
}

/* app/assets/stylesheets/custom.css */
.contact-form {
  background-color: #ffffff;
  padding: 20px;
  border-radius: 8px; /* Bordes redondeados */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.contact-form .form-group {
  margin-bottom: 15px;
  border-radius: 8px; /* Bordes redondeados */
}

.contact-form .form-label {
  font-weight: bold;
  border-radius: 8px; /* Bordes redondeados */
}

.contact-form .form-control {
  width: 100%;
  padding: 10px;
  border: 1px solid #dddddd;
  border-radius: 8px; /* Bordes redondeados */
}

.contact-form .btn {
  padding: 10px 20px;
  border-radius: 8px; /* Bordes redondeados */
}

.section-title-contact {
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer; /* Cambiar el cursor a mano */
}

.toggle-icon {
  font-size: 1.5em;
  margin-left: 10px;
}