    .user-show {
    background-color: #a9d6c3; /* Color de fondo general */
    padding: 20px;
  }
  
  .profile-header {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
  }
  
  .avatar {
    width: 150px;
    height: 150px;
    margin-right: 20px;
    transition: transform 0.3s ease;
  }

  .avatar:hover {
    transform: scale(1.1);
  }
  
  .avatar-img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    object-fit: cover;
  }
  
  .user-info h1 {
    margin: 0;
    font-size: 24px;
  }
  
  .user-info p {
    font-size: 18px;
    margin: 5px 0 0;
  }
  
  .summary {
    background-color: #f7e7e7; /* Fondo rosa claro */
    padding: 15px;
    margin-bottom: 20px;
  }
  
  .sections {
    display: flex;
    gap: 20px;
  }
  
  .section {
    background-color: #f0f0f0; /* Fondo gris claro */
    padding: 15px;
    flex: 1;
  }
  
  .section h2 {
    margin-top: 0;
    font-size: 20px;
  }
  
  .project-item, .study-item, .certificate-item {
    background-color: #e48686; /* Fondo rojo claro */
    padding: 10px;
    margin-bottom: 10px;
  }
  
  .project-item h3, .study-item h3 {
    margin: 0;
    font-size: 18px;
  }
  